# Maven build output
target/

# Maven wrapper jar (optional)
.mvn/wrapper/maven-wrapper.jar

# IDE files
.idea/
*.iml
*.iws
*.ipr

# Eclipse / STS
.classpath
.project
.settings/
.springBeans
.apt_generated

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/

# VS Code
.vscode/

# Logs & OS files
*.log
.DS_Store
Thumbs.db

# Ignore compiled files
*.class